:dir(rtl) {
  .ml-auto {
    margin-left: unset !important;
    margin-right: auto !important;
  }

  @media (min-width: 992px) {
    .ml-lg-auto {
      margin-left: unset !important;
      margin-right: auto !important;
    }

    .mr-lg-auto {
      margin-right: unset !important;
      margin-left: auto !important;
    }
  }

  .ml-50 {
    margin-left: unset !important;
    margin-right: 0.5rem !important;
  }

  .ml-1 {
    margin-left: unset !important;
    margin-right: 1rem !important;
  }

  .ml-2 {
    margin-left: unset !important;
    margin-right: 1.5rem !important;
  }

  .mr-1 {
    margin-left: 1rem !important;
    margin-right: unset !important;
  }

  .mr-2 {
    margin-left: 1.5rem !important;
    margin-right: unset !important;
  }

  // .mx-2 {
  //   margin-left: unset !important;
  //   margin-right: 1.5rem !important;
  // }

  .text-right {
    text-align: left !important;
  }
}

.td-fit {
  text-wrap: nowrap;
}

.utils-the-table {
  th {
    font-size: 16px !important;
    font-weight: 900;
    text-wrap: nowrap;
  }

  td {
    font-size: 16px !important;
    font-weight: 900;
  }
}
