@import "./spacing";
@import "./form";

html {
  body {
  }
}

.text-start {
  text-align: start !important;
}

.Vue-Toastification__container {
  &.top-left {
    width: unset !important;
    .Vue-Toastification__toast--default {
      &.top-left {
        // margin-inline-start: auto !important;
        margin-right: unset !important;
        flex-direction: row-reverse !important;
        text-align: start !important;

        svg {
          margin: unset !important;
          margin-inline-end: 2rem !important;
          margin-block: auto !important;
        }
      }
    }
  }
}

.modal-body {
  text-align: start !important;
}
